@page "/"

<PageTitle>Home</PageTitle>


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css-fill -->
    <link rel="stylesheet" href="/bootstrap/styleinPage-1.css">
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize-fill.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300;600&display=swap" rel="stylesheet">
    <!-- font awesome url -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    
    <title>خدمات طلابية</title>
</head>
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form action="#">
                <h2 class="text"><i class="fa-brands fa-accessible-icon"></i>اصدار تصريح لذوي الهمم</h2>
                <input type="text" class="input" placeholder="الرقم الجامعي" id="user-id sick-id">
                <input type="submit" class="button" value="ارسال" id="submit-student1">
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form action="#">
                <h2 class="text"><i class="fa-solid fa-graduation-cap"></i>اصدار تصريح طالب متفوق</h2>
                <input type="text" class="input" placeholder="الرقم الجامعي" id="user-id">
                <input type="text" class="input" placeholder="المعدل التراكمي" id="GPA">
                <input class="button" type="submit" value="ارسال" id="submit-student2">
            </form>
        </div>
        <div class="overlay-container" id="overlay-container">
            <div class="overlay" id="overlay">
                <div class="overlay-panel overlay-left" id="over-left">
                    <h2><i class="fa-solid fa-graduation-cap"></i>لاصدار تصريح طالب متفوق</h2>
                    <button class="ghost" id="student2">اضغط هنا</button>
                </div>
                <div class="overlay-panel overlay-right" id="over-right">
                    <h2><i class="fa-brands fa-accessible-icon"></i>لاصدار تصريح ذوي الهمم </h2>
                    <button class="ghost button" id="student1">اضغط هنا</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/javascript-forPage-1.js"></script>
</body>
</html>