<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css-fill -->
    <link rel="stylesheet" href="/bootstrap/styleForPermitPage.css.map">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300;600&display=swap" rel="stylesheet">
    <title>Document</title>
</head>
    <div class="continer">
        <div class="line">
            <p></p>
        </div>
        <img src="/picture/user-face.jpeg" alt="" class="user-img">
        <img src="/picture/barcode.jpeg" alt="" class="barcod">
        <div class="cont-pragrph">
            <p class="prgraph">الاسم:تركي العتيبي</p>
            <p class="prgraph">الكلية : كلية الهنسة</p>
            <p class="prgraph">نوع السيارة:كامري</p>
            <p class="prgraph">لوحة السيارة:</p>
            <div class="cont-seral-number">
                <p class="seral-number">د</p>
                <p class="seral-number">ل</p>
                <p class="seral-number">ب</p>
                <p class="seral-number">0</p>
                <p class="seral-number">9</p>
                <p class="seral-number">8</p>
                <p class="seral-number">7</p>
            </div>
        </div>
    </div>
    <script src="/javascript/perime.js"></script>
@code {

}
