@page "/superior/{IDunvircity}"
@inject NavigationManager Navm
@rendermode InteractiveServer


<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css-fill -->
    <link rel="stylesheet" href="/bootstrap/StyleForSuperior.css">
    <!-- normalize -->
    <link rel="stylesheet" href="/css/normalize-fill.css">
    <!-- google font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@100;300;600&display=swap" rel="stylesheet">
    <!-- font awesome url -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>superior</title>
</head>
    <div class="conteiner" style=@conteiner>
        <div class="step">
            <div class="line" style=@linechack></div>
            <p class="first" style=@display1><i class="fa-solid fa-check icon1" style=@chack1></i></p>
        <p class="tow" style=@display2><i class="fa-solid fa-check icon2" style=@chack2></i></p>
        </div>
        <div class="user-date" style=@userDate>
            <div class="person" id="pe">
                <input @bind="Name" type="text" placeholder="الاسم">
                <input @bind="ID" type="text" placeholder="الهوية الوطنية">
                <input @bind="IDunvircity" type="text" readonly placeholder="الرقم الجامعي">
                <input type="text" value="@valueGPA"  placeholder=" المعدل الجامعي">
                <input type="text" @bind="collage"  placeholder="  الكلية">
            <div class="ID imgInput">
                <img id="img-ID" src="" for="user-ID">
                <label for="user-ID">الهوية الوطنية </label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="user-ID">
            </div>
            <div class="ID imgInput">
                <img id="user-img" src="" for="user-img">
                <label for="user-img">الصورة الشخصية  </label>
                <input type="file" accept="image/jpeg, image/png, image/jpg" id="user-img">
            </div>
                <button @onclick="GoToPage2"> اكمال  </button>
            </div>
        </div>
        <div class="car" style=@carDate>
        <div class="drivingLicense imgInput">
            <img id="img-drivingLicense" src="" for="user-drivingLicense">
            <label for="user-drivingLicense">رخصة قيادة  </label>
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="user-drivingLicense">
        </div>
        <div class="carID imgInput">
            <img id="img-car-ID" src="" for="car-ID">
            <label for="car-ID">استمارة السيارة  </label>
            <input type="file" accept="image/jpeg, image/png, image/jpg" id="car-ID">
        </div>
        <input @bind="CarModel" type="text" placeholder="نوع السيارة" class="textInputCar">
        <input @bind="CarColor" type="text" placeholder="لون السيارة" class="textInputCar">
        <div class="cont-all-number">
            <p>لوحة السيارة بالعربي</p>
            <div class="cont-seral-number">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
                <input type="text" class="seral-number-item">
            </div>
            <p>لوحة السيارة بالنجليزي </p>
            <div class="cont-seral-number">
                <input @bind="IDcar1" type="text" class="seral-number-item">
                <input @bind="IDcar2" type="text" class="seral-number-item">
                <input @bind="IDcar3" type="text" class="seral-number-item">
                <input @bind="IDcar4" type="text" class="seral-number-item">
                <input @bind="IDcar5" type="text" class="seral-number-item">
                <input @bind="IDcar6" type="text" class="seral-number-item">
                <input @bind="IDcar7" type="text" class="seral-number-item">
            </div>
        </div>
        <button class="f2" @onclick="submint"> ارسال</button>
        </div>
    </div>
        <div style=@Done class="done"><i class="fa-solid fa-check"></i><span>تم ارسال الطلب</span></div>
        <button class="buttonGoBack" @onclick="goToPageOne"> العودة للبداية</button>



@code {
    [Parameter]
    public string? IDunvircity { get; set; }
    string? valueGPA;
    string? linechack;
    string? userDate;
    string? carDate;
    //chack icon in page1
    string? chack1;
    string? chack2;
    string? display1;
    string? display2;
    string? conteiner;
    string? Done;
    //code for dasplay Image

    void goToPageOne()
    {
        Navm.NavigateTo($"/");
    }
    void GoToPage2()
    {
        if(ID!=null && Name != null)
        {
            linechack = "animation: linego1 1s forwards ease-in-out;";
            chack1 = "animation: display 3s forwards;";
            display1 = "animation: displaygreen 2s forwards;";
            userDate = "animation: displaynone 1s forwards;";
            carDate = "animation: display 1s forwards;display: block;";
        }
        else if (ID == null)
        {
            ID = "يجيب عليك تسجيل هويتك الوطنية";
        }
        else
        {
            Name = "يجيب عليك كتابة اسمك";
        }
    }
    string? Name;
    string? ID;
    string? collage;
    string? CarModel;
    string? CarColor;
    string? IDcar1;
    string? IDcar2;
    string? IDcar3;
    string? IDcar4;
    string? IDcar5;
    string? IDcar6;
    string? IDcar7;
    void submint()
    {
        linechack = "animation: linego2 1s forwards ease-in-out;";
        chack2 = "animation: display 1s forwards;";
        display2 = "animation: displaygreen 2s forwards;";
        carDate = "animation: displaynone 1s forwards;";
        conteiner = "animation: displaynone 0.4s forwards;";
        Done = "animation: display 3s forwards;display: block;";
        addNewUser(IDunvircity, ID, Name, valueGPA,collage,"طالب متفوق" ,CarModel, CarColor, IDcar1, IDcar2, IDcar3, IDcar4, IDcar5, IDcar6, IDcar7, "Data.txt");
    }
    private static void addNewUser(string IDunvircity, string ID, string Name, string GPA, string collage,string type, string carmodal, string carColor, string IDcar1, string IDcar2, string IDcar3, string IDcar4, string IDcar5, string IDcar6, string IDcar7, string data)
    {
        try
        {
            using (System.IO.StreamWriter file = new System.IO.StreamWriter(@data, true))
            {
                file.WriteLine(IDunvircity + "," + ID + "," + Name + "," + GPA + "," + collage + "," + type + "," + carmodal + "," + carColor + "," + IDcar1 + "," + IDcar2 + "," + IDcar3 + "," + IDcar4 + "," + IDcar5 + "," + IDcar6 + "," + IDcar7);
            }
        }
        catch (Exception ex)
        {
            throw new ApplicationException("there Are Erorr is : ", ex);
            
        }
    }




}
